*
{
    margin: 0;
    padding: 0;
}

.main-nav{
    position: fixed;
    height: 50px;
    width: 100%;
    list-style: none;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    z-index: 99;
}

.main-nav li{
    display: inline-block;
}

.main-nav li a{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    margin-left: 30px;
    line-height: 50px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.main-nav li.active a{
    border: 1px solid white;
}

.main-nav li a:hover{
    border: 1px solid white;
}

.section{
    height: 100%;
    background-color: aqua;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

.sectionOne{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(background.jpg);
}

.sectionTwo{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(background2.jpg);
}

.subsection{
    height: 50%;
    background-color:#262626;
}

html, body{
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
}

.hero{
    height: 100px;
    width: 1000px;
    position: absolute;
    top: 50%;
    margin-top: -50px;
}

.hero h1{
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
}

.hero p{
    color: white;
    text-transform: uppercase;
    font-size: 60px;    
    text-align: center;
    padding: 0;
    margin: 0; 
}

p{
    color: white;    
    font-size: 20px; 
    margin-left: 10px;
    text-align: center;
    padding: 100px 0;
}

h1{
    color: white;
    font-size: 30px;
    margin-left: 10px;
    padding-top: 10px;
    text-align: center;
}

h2,h3,h4{
    color: white;
    font-size: 30px;
    margin-left: 10px;
    padding-top: 25px;
    text-align: center;
}

table
{
    color: white;
    text-align: center;
    width: 100%;
    border: 2px solid white;
    border-collapse: collapse;
}

